configs:
  mosquitto_config:
    content: |
      listener 1883
      allow_anonymous true
      persistence true
      # log_type all

services:
  mosquitto:
    image: eclipse-mosquitto:latest
    restart: no
    ports:
      - 1883:1883
    configs:
      - source: mosquitto_config
        target: /mosquitto/config/mosquitto.conf

  emqx:
    image: emqx/emqx:latest
    restart: no
    ulimits:
      nofile:
        soft: 65536
        hard: 65536
    deploy:
      resources:
        limits:
          cpus: "4"
          memory: 8G
        reservations:
          cpus: "2"
          memory: 4G
    ports:
      - 1883:1883
    #   - 18083:18083
    environment:
      - EMQX_DASHBOARD__DEFAULT_USERNAME=admin
      - EMQX_DASHBOARD__DEFAULT_PASSWORD=admin

      # Turn OFF authn/authz for the default TCP listener (port 1883)
      - EMQX_LISTENERS__TCP__DEFAULT__AUTHN=none
      - EMQX_LISTENERS__TCP__DEFAULT__AUTHZ=none
    healthcheck:
      test: ["CMD", "/opt/emqx/bin/emqx", "ctl", "status"]
      interval: 5s
      timeout: 25s
      retries: 5
